<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cours de Programmation</title>
    <link rel="stylesheet" href="{{ '/assets/css/custom-theme.css' | relative_url }}">
    <link rel="icon" href="../images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="burger-menu">
      <span></span>
      <span></span>
      <span></span>
    </label>

    {% assign sorted_pages = site.pages | where_exp:"page", "page.url contains '/cours/'" | sort: "order" %}
    <nav class="sidebar">
        <h2>Plan du Cours</h2>
        <ul>
            <li><a href="{{ '/' | relative_url }}" class="home-link">Accueil</a></li>
            {% for page in sorted_pages %}
                <li>
                    <a href="{{ page.url | relative_url }}"
                    {% if page.url == page.url %} class="active"{% endif %}>
                        {{ page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    
    <main class="content">
        <!-- Votre contenu markdown sera rendu ici -->
        {{ content }}
    </main>
</body>
</html>